<!--p>{{title}} user</p-->

<!-->h2>List of books</h2>

<ul>
    <!--let is a variable, like var-->
    <!--like foreach in laravel-->
    <!-->li *ngFor = "let book of books" >
            {{book.title }} by {{book.author}}
    </li>

</ul-->
<div class="example-button-row">
  <button
    mat-raised-button color="primary"
    routerLink="/addBook">
    ADD BOOK
  </button>
</div>
<!-->a mat-list-item routerLink="/addBook" routerLinkActive="active">ADD BOOK</a-->
<p *ngIf = "!(books$ | async)" >Loading...</p>
<mat-accordion>
        <mat-expansion-panel *ngFor = "let book of books$ | async">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{book.title}}
            </mat-panel-title>
          </mat-expansion-panel-header> 
          by {{book.author}}  
          <button 
          mat-raised-button color="primary"
          (click)= deleteBook(book.id) >Delete</button>
          <button
            mat-raised-button color="primary"
            [routerLink]="'/addBook/'+book.id">
            Update
        </button>
        </mat-expansion-panel>
</mat-accordion>
